
.cards-container {
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    .card {
        margin: 1rem;
        padding: 1rem;
        background-color: white;
        border: 1px solid #80808078;
        border-radius: 5px;
        text-align: start;
        box-sizing: border-box;
        h4 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
        p {
            display: flex;
            align-items: center;
            margin-top: 0;
        }
        .flag {
            width: 30px;
            margin-right: .5rem;
            border-radius: 0 !important;
        }
        img {
            width: 100%;
            border-radius: 5px;
        }
        h5 {
            margin-bottom: 0;
            margin-top: 0;
        }
        a {
            text-decoration: none;
        }
    }
}

@media (max-width: 550px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
}