
body {
    display: flex;
    justify-content: center;
    background-color: #8080804f;
}

.extended-info {
    display: none;
}

form {
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 5rem;
    background-color: white;
    border: 1px solid #80808078;
    border-radius: 5px;
        .message {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
        }
        .disable-form {  
            position: absolute;
            inset: 0;
            background: rgba(255,255,255,0.5);
            cursor: not-allowed;
            z-index: 5;
        }
        label {
            font-weight: 600;
            margin-bottom: 1rem;
            cursor: pointer;
        }
        input {
            margin-bottom: 1rem;
            border: 1px solid #80808078;
            padding: 7px;
            border-radius: 5px;
        }
        .target-item-wrapper { 
            display: flex;
            justify-content: space-between;               
            margin-bottom: 1rem;
            border: 1px solid #80808078;
            padding: 5px 5px;
            border-radius: 5px;
            cursor: pointer;
            p {
                display: inline-block;
                margin: 0;

            }
        }
        ul {
            padding-inline-start: 0;
            margin-block-start: 0;
            border: 1px solid #80808078;
            border-radius: 5px;
            li {
                display: flex;
                align-items: center;
                list-style-type: none;
                padding: .5rem;
                cursor: pointer;
                img {
                    width: 20px;
                    margin-right: .75rem;
                }
            }
            li:hover {
                background-color: #80808078;
            }
        } 

        button {
            width: 100%;
            color: white;
            padding: 5px;
            background-color: blue;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

}